* {
	box-sizing: border-box;
}

.login {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.h1Login {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

.pLogin {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.spanLogin {
	font-size: 12px;
}

.aLogin {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.buttonLogin {
	border-radius: 20px;
	border: 1px solid #f5ba13;
	background-color: #f5ba13;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.buttonLogin:active {
	transform: scale(0.95);
}

.buttonLogin:focus {
	outline: none;
}

.formLogin {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.inputLogin {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}


/* footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
} */

